h1 {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.image-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 360px;
    text-align: center;
}

.image-preview-container img {
    width: 100%;
    display: none;
    border: solid 1px #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

.image-preview-container input {
    display: none;
}

.image-preview-container label {
    display: block;
    width: 75%;
    height: 45px;
    text-align: center;
    background: #84d7f8;
    color: #fff;
    font-size: 15px;
    text-transform: Uppercase;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-preview-container-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 360px;
    text-align: center;
}

.image-preview-container-second img {
    width: 100%;
    display: none;
    border: solid 1px #000000;
    border-radius: 5px;
    margin-bottom: 30px;
}


.image-preview-container-second input {
    display: none;
}

.image-preview-container-second label {
    display: block;
    width: 50%;
    height: 45px;
    text-align: center;
    background: #84d7f8;
    color: #fff;
    font-size: 20px;
    text-transform: Uppercase;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    background-color: #ffffff;

}

#resetbtn,
#resetbtn2 {
    display: block;
    width: 50%;
    height: 45px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    text-transform: Uppercase;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    margin-bottom: 20px;
}


.box {
    width: 100%;
    height: 8vh;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #ffffff;
}

.box input {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: solid 1px #242424;
    outline: none;
    padding: 15px;
    font-size: 18px;
    background-color: #ffffff;
}

.box select {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: solid 1px #242424;
    outline: none;
    padding: 15px;
    font-size: 18px;
    background-color: #ffffff;
}

span.select2-selection.select2-selection--single {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: solid 1px #242424;
    outline: none;
    padding: 15px;
    font-size: 18px;
    background-color: #ffffff;
}

span.select2-selection__arrow {
    margin-top: 13px;
}


.box button {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    border: solid 1px #242424;
    outline: none;
    padding: 15px;
    font-size: 18px;
    background-color: #ffffff;
}

button.btn.dropdown-toggle.btn-light {
    background-color: #ffffff;
}

div.dropdown-menu.show {
    background-color: #ffffff;
}

.inner.show {
    background-color: #ffffff;
}

.box textarea {
    width: 100%;
    height: 130%;
    border-radius: 10px;
    border: solid 1px #242424;
    outline: none;
    padding: 15px;
    font-size: 17px;
    background-color: #ffffff;
}

#ProThai {
    position: absolute;
    width: 190px;
    top: -3px;
    left: 8%;
    margin: 0px;
    background-color: #ffffff;
    padding: 0 10px;
    font-weight: 600;
}

#ProEng {
    position: absolute;
    width: 209px;
    top: -3px;
    left: 8%;
    margin: 1px;
    background-color: #ffffff;
    padding: 0 10px;
    font-weight: 600;
}

#CompanyF {
    position: absolute;
    width: 64px;
    top: -3px;
    left: 8%;
    margin: 1px;
    background-color: #ffffff;
    padding: 0 10px;
    font-weight: 600;
}

#AdvisorF {
    position: absolute;
    width: 140px;
    top: -3px;
    left: 8%;
    margin: 1px;
    background-color: #ffffff;
    padding: 0 10px;
    font-weight: 600;
}

#FieldF {
    position: absolute;
    width: 60px;
    top: -3px;
    left: 8%;
    margin: 1px;
    background-color: #ffffff;
    padding: 0 10px;
    font-weight: 600;
}

#TypeF {
    position: absolute;
    width: 77px;
    top: -3px;
    left: 4%;
    margin: 0px;
    background-color: #ffffff;
    padding: 0 10px;
    font-weight: 600;
}

#DescF {
    position: absolute;
    width: 160px;
    top: -3px;
    left: 4%;
    margin: 0px;
    background-color: #ffffff;
    padding: 0 10px;
    font-weight: 600;
}


#pro_advisor,
#pro_company,
#pro_field,
#pro_descript,
#pro_type {
    width: 100%;
}

tbody {
    padding: 0%;
}

.edit-icon {
    color: #000000;
    /* สีของ Icon */
    cursor: pointer;
    /* ทำให้เป็น Cursor Pointer เมื่อผู้ใช้เอาเมาส์ไปชี้ที่ Icon */
}

/* <--- Start Style Datable ---> */


/* เปลี่ยนสีพื้นหลังของ header ของตาราง */
#example1 thead {
    background-color: #ffffff;
    /* เปลี่ยนสีตามที่คุณต้องการ */
    color: rgb(0, 0, 0);
    /* เปลี่ยนสีตัวอักษรใน header ตามที่คุณต้องการ */
}

/* ส่วนของ DataTable */
#example1_wrapper .dataTables_length {
    /* ตัวเลือกแสดงรายการต่อหน้า */
    color: black;
    /* สีข้อความ */
    font-weight: bold;
    /* ตัวหนา */
}

#example1_wrapper .dataTables_info {
    /* ข้อความแสดงจำนวนรายการ */
    color: black;
    /* สีข้อความ */
    font-weight: bold;
    /* ตัวหนา */
}

#example1_paginate .paginate_button {
    /* ปุ่มเลื่อนหน้า */
    color: black;
    /* สีข้อความ */
    font-weight: bold;
    /* ตัวหนา */
}

#example1_paginate .paginate_button.disabled {
    /* ปุ่มเลื่อนหน้าที่ไม่สามารถใช้งานได้ */
    color: gray;
    /* สีข้อความ */
    font-weight: bold;
    /* ตัวหนา */
}

#example1_paginate .paginate_button.current {
    /* ปุ่มหน้าปัจจุบัน */
    color: white;
    /* สีข้อความ */
    font-weight: bold;
    /* ตัวหนา */
    background-color: black;
    /* สีพื้นหลัง */
}


/* <--- End Style Datable ---> */


/* span.select2-selection.select2-selection--multiple {} */

textarea.select2-search__field {
    border-radius: 0px;
}



.toggle {
    transform: scale(0.8);
    /* ลดขนาดของ slider ให้เล็กลง */
}

/* แสดงเป็นปุ่ม toggle handle โดยใช้คลาส .btn.btn-default */
.toggle-handle.btn.btn-default {

    background-color: #FFFFFF;
    /* สีของ toggle handle */

}
